.span__pointer {
  cursor: pointer;
}

.position-relative {
  position: relative;
  filter: blur(2px);
}

.loader-background {
  z-index: 99999;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 20px;
}

.loader {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 20px;
}
