<div class="d-flex justify-content-center">
  <mat-card class="col-7 mt-3">
    <mat-card-header>
      <mat-card-title>{{ titleComponent }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="col">
      <create-edit-form
        (outputForm)="getOutputForm($event)"
        (outputIsAllowRecord)="getOutputIsAllowRecord($event)"
      ></create-edit-form>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <button mat-stroked-button color="primary" (click)="cancel()">
        {{ "BUTTON.CANCEL" | translate }}
      </button>
      <button
        mat-flat-button
        color="primary"
        class="m-2"
        (click)="recordHero()"
        [disabled]="!isAllowRecord"
      >
        {{ buttonPrimary }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
